/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
  /*border: solid;*/
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ketik code Anda di bawah */
#top-wrapper {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
  padding: 180px 0 100px 0;
  text-align: center;
}

.top-wrapper-container,
.header-container,
.lesson-wrapper-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-wrapper-container h1 {
  font-size: 45px;
  opacity: 0.7;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

#top-wrapper P {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  color: white;
  border-radius: 4px;
  padding: 12px 24px;
  opacity: 0.8;
  display: inline-block;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

#top-wrapper .btn-wrapper p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  z-index: 1;
}

.header-left {
  float: left;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  color: white;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 65px;
}

#lesson-wrapper {
  height: 500px;
  text-align: center;
}

#lesson-wrapper .lesson-wrapper-container h2 {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.txt-content {
  font-size: 15px;
  margin-top: 20px;
  color: #b3aeb5;
  /*border: solid;*/
  width: 80%;
  display: inline-block;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  width: 100%;
  top: 90px;
  color: white;
}